/**
  Add any styles you need here
**/
.select {
  width:100%;
  padding: .5em;
  border: 2px solid blue;
  background: skyblue;
  font-weight: 600;
}





/**
 do NOT touch this code
**/
.wrapper {
  width: 250px;
  margin: 2em auto;
}
img {
  max-width: 100%;
}